.vscode
#Build files
build/
*.o
*.a
*.out
main
demo
RunTests

#VSCode
.vscode/
*.Zoneidentifier
makefile.backup

#raylib stuff just incase
external/raylib/src/*.o
external/raylib/src/libraylib.a


# ===== DOXYGEN OUTPUT =====
docs/
html/
latex/
*.tag
*.map
*.dot
*.aux
*.log
*.toc
*.out
*.tmp
*.bak
